nav {
    padding: 5px 20px;
    border-radius: 5px;
    display: flex;
    justify-content:center;
    align-items: center;
}

.link {
    border-radius: 5px;
    padding: 10px 20px;
    color: #fff; 
    margin: 0 10px; 
    font-weight: bold;
}

.link:hover {
    background-color: gray;
}

a {
    text-decoration: none;
}

.header-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portrait {
    margin-right: 3vh;
    max-width: 13vh;
    max-height: 13vh;
    border: black 2px solid;
    border-radius: 50%;
}