.desktop-nav {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-color: #b7673c;
  /* background: rgb(63, 8, 133); */
  /* background: radial-gradient(
    circle,
    rgba(63, 8, 133, 1) 11%,
    rgba(22, 5, 42, 1) 91%
  ); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 5;
  height: 8vh;
}
nav {
  background-color: #b7673c;
  /* background: rgb(63, 8, 133);
  background: radial-gradient(
    circle,
    rgba(63, 8, 133, 1) 11%,
    rgba(22, 5, 42, 1) 91%
  ); */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 5;
  /* height: 8vh; */
  top: 0;
  right: 0;
  left: 0;
  padding: 5px 20px;
  position: fixed;
}

.link {
  border-radius: 5px;
  padding: 10px 20px;
  color: white;
  margin: 0 10px;
  font-weight: bold;
}

.link:hover {
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}

a {
  text-decoration: none;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  height: 500px;
}
.portrait {
  margin-right: 3vh;
  max-width: 6vh;
  max-height: 6vh;
  border-radius: 50%;
}


.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-main {
  color:white;
}

@media screen and (max-width: 500px) {
  .link {
    padding: 5px 10px;
  }
}

@media screen and (max-width:767px){
  .desktop {
    display:none;
  }
}