.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
  color: #fff;
  width: 200px;
  height: 670px;
  margin: 10px;
}

.skills-header {
  text-align: center;
  margin-right: 5px;
}

.skills-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-logo {
  width: 60px;
  height: auto;
  margin-top: 10px;
}

.skills-img {
  width: 40px;
  height: auto;
}

.skills-logos {
  text-align: center;
  transition: transform 0.3s ease;
}

.skills-logos:hover {
  transform: translateY(-5px);
}

.skill-name {
  color: #ddd;
  margin-top: 5px;
}

.skill-category h2 {
  text-align: center;
  color: #eee;
  margin-bottom: 15px;
}

@media screen and (max-width: 768px) {
  .skills-grid {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 10px;
    padding-top: 20px;
    width: 250px;
    height: 250px;
  }
  .skills-logos {
    padding: 0px;
    margin: 0px;
  }
}
