.about-container {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-name {
  color: #333;
}

.about-email {
  color: #555;
}

.about-bio {
  color: #777;
}

.skills {
  display: flex;
  justify-content: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px;
  padding: 20px;
  background-color: black;
  margin: 5px;
  width: 250px;
  border-radius: 10px;
  color: white;
} 

.skills-header {
  text-align: center;
  margin-right: 5px;
}

.skills-header-container {
  display: flex;
  justify-content:center ;
  align-items: center;
}

.skills-img {
  width: 40px;
  height: auto;
}

.skills-logos {
  text-align: center;
}

.skills-logo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.skill-category {
  display: flex;
  justify-content: center;
  width:100%;
}
