 /* .skills {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  width: auto;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin: 5px;
  width: 250px;
  border-radius: 10px;
  color: white;
  background-color: black;
  height: 250px;
}





.skills-logos {
  text-align: center;
}

.skills-logo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.skill-category {
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
}
*/


.skills {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  flex-wrap: wrap; 
  gap: 50px; 
  margin-top: 20px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(100px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #222;
  border-radius: 10px;
  color: #fff;
  width: 200px;
  height: 670px;
  margin: 10px;
}

.skills-header {
  text-align: center;
  margin-right: 5px;
}

.skills-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills-logo {
  width: 60px;
  height: auto;
  margin-top: 10px;
}

.skills-img {
  width: 40px;
  height: auto;
}

.skills-logos {
  text-align: center;
  transition: transform 0.3s ease;
}

.skills-logos:hover {
  transform: translateY(-5px);
}

.skill-name {
  color: #ddd; /* Lighter grey for better readability */
  margin-top: 5px;
}

.skill-category h2 {
  text-align: center;
  color: #eee;
  margin-bottom: 15px;
}
