

.github-btn, .resume-btn {
  background: #EEE;
}

.github-black, .github-white, .resume-black, .resume-white {
  display: inline;
}

.github-black:hover,
.resume-black:hover {
  display: none;
}

.github-white,
.resume-white {
  display: none;
}


.github-btn:hover .github-black,
.resume-btn:hover .resume-black {
  display: none; 
}

.github-btn:hover .github-white,
.resume-btn:hover .resume-white {
  display: inline;
}

.github-btn:hover,
.resume-btn:hover {
  background: black;
  color: white;
}


