.welcome-container {
  min-height: 820px;
  background-image: url("../../images/welcome.png");
}

.welcome-header {
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  font-size: 50px;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.header-container {
  margin-bottom: 20px;
  height: auto;
}

.welcome-btns {
  border: 1px solid black;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

.button-imgs {
  width: 25px;
  margin-right: 5px;
}

.github-btn, .resume-btn {
  background: #EEE;
}

.github-black, .github-white, .resume-black, .resume-white {
  display: inline;
}

.github-black:hover,
.resume-black:hover {
  display: none;
}

.github-white,
.resume-white {
  display: none;
}


.github-btn:hover .github-black,
.resume-btn:hover .resume-black {
  display: none; 
}

.github-btn:hover .github-white,
.resume-btn:hover .resume-white {
  display: inline;
}

.github-btn:hover,
.resume-btn:hover {
  background: black;
  color: white;
}

@media screen and (max-width: 770px) {
  .welcome-container {
    width: 100%;
    background-position: center;
  }
}

